#page-404 {
    width: 1300px;
    margin: 100px auto 0;
    display: grid;
    grid-template-columns: 250px 650px 350px;
    grid-gap: 25px;
    grid-template-areas: 'left-aside page-content right-aside';
}

#page-404 img {
    max-width: 100% !important;
}

#page-404 .title h1 {
    margin: 20px 0;
    font-size: 36px;
    line-height: 36px;
    font-weight: 500;
    text-transform: none;
}

#page-404 blockquote {
    padding-left: 40px;
    margin: 40px 0;
    border-left-width: 6px;
}

#page-404 blockquote p {
    font-size: 132px;
    text-align: center;
    color: var(--red);
    margin: 0;
}


/* search */

#page-404 form {
    display: block;
    position: relative;
}

#page-404 input[type="text"] {
    width: 100%;
    padding: 5px;
    color: var(--gray);
}

#page-404 button {
    position: absolute;
    top: 7px;
    right: 7px;
    border: none;
    cursor: pointer;
    background: none;
}