/* усі блоги зі скролом справа */

#blog-post {
    width: 1200px;
    margin: 40px auto 0;
    display: grid;
    grid-template-columns: 225px 1fr 300px;
    grid-template-areas: 'blog-user blog-content blog-aside';
    grid-gap: 20px;
}

@media(max-width: 1240px) {
    #blog-post {
        width: 95%;
    }
}

@media(max-width: 996px) {
    #blog-post {
        grid-template-columns: 1fr 300px;
        grid-template-areas: 'blog-user blog-aside' 'blog-content blog-aside';
        margin-top: 100px;
    }
}

@media(max-width: 776px) {
    #blog-post {
        grid-template-columns: 1fr;
        grid-template-areas: 'blog-user' 'blog-content' 'blog-aside';
        margin-top: 100px;
    }
}


/* ліва колонка */

#blog-user {
    padding: 20px;
    grid-area: blog-user;
}

#blog-user img,
#blog-user a,
#blog-user b,
#blog-user span {
    display: block;
    margin: 0 0 5px;
}

#blog-user img {
    max-width: 100%;
    border-radius: 50%;
}

#blog-user a {
    display: block;
}

#blog-user b {
    display: block;
    color: var(--red);
}

#blog-user span {
    display: block;
    color: var(--black);
}


/* центральна шпальта */

#blog-content {
    grid-area: blog-content;
}

#blog-content p,
#blog-content h1,
#blog-content h2,
#blog-content h3,
#blog-content h4,
#blog-content h5 {
    margin: 0 0 23px;
}

#blog-content img {
    max-width: 100%!important;
}

#blog-content section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 20px 0;
}

@media(max-width: 996px) {
    #blog-content section {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 776px) {
    #blog-content section {
        grid-template-columns: 1fr;
    }
}


/* окремий пост автора */

#blog-content a {
    display: block;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    color: var(--black);
}

#blog-content a:hover {
    color: var(--red);
}


/* ппава бокова колонка */

#blog-aside {
    grid-area: blog-aside;
}

#blog-aside a {
    color: var(--red);
    font-size: 14px;
    line-height: 20px;
}