/* ///
правки 
/// */

/* лінк на групу телеграм */
.text-telegram {
  text-align: center;
  margin: 10px 0 !important;
}

.text-telegram a {
  color: var(--red) !important;
}

/* соціальні кнопки */
.social {
  text-align: center;
  margin: 10px 0 !important;
}

/* анімаційний плейсхолдер */
.fade-in {
  position: relative;
}

.fade-in::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: block;
  background: var(--white);

}

.fade-in::before {
  content: '';
  background: url('../images/loader.gif') no-repeat center center;
  display: block;
  position: absolute;
  z-index: 2;
  width: 32px;
  height: 32px;
  transform: translateX(-50%);
  margin: 0 0 0 50%;
}