/* ////////////////////////////////
фіксована смуга з логотипом та меню
//////////////////////////////// */

#nav {
  position: fixed;
  height: 100px;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 20;
  padding: 10px 0 0;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.75) 100%);

  display: grid;
  grid-template-columns: auto 300px 900px 100px auto;
  grid-template-rows: 1fr;
}

@media(max-width: 1340px) {
  #nav {
    grid-template-columns: auto 300px 1fr 40px auto;
  }
}

@media(max-width: 776px) {
  #nav {
    height: 60px;
    grid-template-columns: auto 1fr 40px 130px auto;
  }
}

/* + прокрутка */
#nav.scroll {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.75) 100%);
}

#logo {
  grid-area: 1 / 2 / 2 / 3;
  text-align: center;
}

@media(max-width: 1340px) {
  #logo {
    width: 220px;
  }
}

@media(max-width: 776px) {
  #logo {
    width: 140px;
  }
}

@media(max-width: 500px) {
  #logo {
    width: 120px;
  }
}

#logo img {
  margin-left: 30px;
  max-width: 100%;
}

@media(max-width: 776px) {
  #logo img {
    margin-left: 15px;
  }
}

#menu {
  grid-area: 1 / 3 / 2 / 4;
}

@media(max-width: 776px) {
  #menu {
    display: none;
  }
}


/* верхнє меню */
#top-menu {}

/* пункти меню зліва */
#main-menu {
  padding: 10px;
  display: inline-block;
}

@media(max-width: 1200px) {
  #main-menu {
    display: block;
    text-align: center;
  }
}

#main-menu li {
  display: inline-block;
}

#main-menu li a {
  display: block;
  font-size: 18px;
  line-height: 28px;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--white);
  text-decoration: none;
  padding: 0 12px;
}

#main-menu li a:hover {
  color: var(--red);
}

/* соціальні кнопки справа */
#social-menu {
  display: inline-block;
  color: var(--white);
  padding: 10px;
}

@media(max-width: 1200px) {
  #social-menu {
    display: block;
    text-align: center;
  }
}

#social-menu li {
  display: inline-block;
  margin: 0 11px;
}

#social-menu li a {
  color: var(--white);
}

#social-menu li a:hover {
  color: var(--red);
}

#social-menu li a i {
  font-size: 20px;
}

/* ///////////////
меню на мобільному
/////////////// */
#menu.show {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--opacity-black);
  grid-area: none;
  z-index: 35;
  height: 100vh;
  padding-top: 50px;
}

#menu.show #main-menu li {
  display: block;
  margin: 0 0 5px;
}

#menu.show #hot-menu,
#menu.show #hot-menu ul {
  display: block;
  text-align: center;
}

#menu.show #hot-menu::before {
  text-align: center;
  display: block;
}

#menu.show #hot-menu li {
  margin: 0 0 10px;
  display: block;
}

/* кнопка закриття мобільного меню */
#menu.show .close {
  height: 30px;
  width: 30px;
  border-radius: 30px;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 40;
  cursor: pointer
}

#menu.show .close::after,
#menu.show .close::before {
  content: '';
  height: 3px;
  width: 30px;
  background: var(--white);
  position: absolute;
  top: 15px;
  left: 0
}

#menu.show .close::after {
  transform: rotate(50deg)
}

#menu.show .close::before {
  transform: rotate(-50deg)
}

#menu.show .close.active {
  display: block
}

/* Актуальні теми: */
#hot-menu {
  display: inline-block;
  padding: 10px 10px 10px 20px;
}

@media(max-width: 1200px) {
  #hot-menu {
    display: none;
  }
}

#hot-menu::before {
  content: 'Актуальні теми:';
  text-transform: uppercase;
  color: var(--white);
}

#hot-menu ul {
  display: inline-block;
}

#hot-menu ul li {
  display: inline-block;
  margin: 0 0 0 5px;
  padding: 0 0 0 5px;
}

#hot-menu ul li a {
  color: var(--white);
}

#hot-menu ul li a:hover {
  color: var(--red);
}

#hot-menu ul li a::before {
  content: '#';
  width: 10px;
  height: 10px;
  padding: 0 5px;
  border-radius: 10px;
  background: var(--white);
  color: var(--black);
}

/* пошук */
#search {
  grid-area: 1 / 4 / 2 / 5;
  color: var(--white);
  padding: 10px;
  font-size: 26px;
  cursor: pointer;
}

@media(max-width: 776px) {
  #search {
    padding: 0;
    grid-area: 1 / 3 / 2 / 4;
  }
}

/* ///////////
mobile buttons
/////////// */

#mobile {
  display: none;

  grid-area: 1 / 4 / 2 / 5;
  order: 3;
}

@media(max-width: 776px) {
  #mobile {
    /* display: block; */
    display: flex;
    align-items: center;
    height: 38px;
  }
}

/* ///////////////
mobile-menu button
/////////////// */

#menu-button {
  color: var(--white);
  font-size: 26px;
  cursor: pointer;
}

/* ////////////////
button online-radio
//////////////// */

#radio {
  color: var(--white);
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

#radio span {
  height: 30px;
  line-height: 30px;
  display: inline-block;
}

#radio i {
  font-size: 26px;
  color: var(--red);
}