@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

/* /////////
базові стилі
///////// */
:root {
  --red: #c00;
  --black: #000;
  --white: #fff;
  --light: #aab2bd;
  --light-gray: #656d78;
  --gray: #666;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
  color: var(--light);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover,
a:active {
  color: var(--red);
}

body {
  height: 100%;
  font: 16px/1.5 'Fira Sans', Arial, sans-serif;
  color: var(--black);
  background: var(--white);
}

/* підзаголовки */
.title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 600;
}