/* блок -- скрол "фото-відео" */
#scroll-news,
/* блок -- скрол "блоги" */
#scroll-blogs {
  margin: 20px 0;
}

#scroll-news .title,
#scroll-blogs .title {
  position: absolute;
  top: 15px;
  left: 15px;
  color: var(--white);
}

/* блоги */
#scroll-blogs .title {
  color: var(--black);
}

/* wpapper */
.levus-scroll-wrapper {
  padding: 50px 0 0;
  position: relative;
  background: var(--gray);
}

/* прозорий фону у блогів */
#scroll-blogs {
  background: transparent;
}

/* arrow */
.levus-scroll-nav {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
}

.levus-scroll-nav .left,
.levus-scroll-nav .right {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
}

.levus-scroll-nav .left::before,
.levus-scroll-nav .left::after,
.levus-scroll-nav .right::before,
.levus-scroll-nav .right::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 1px;
  background: white;
}

/* блоги */
#scroll-blogs .levus-scroll-nav .left::before,
#scroll-blogs .levus-scroll-nav .left::after,
#scroll-blogs .levus-scroll-nav .right::before,
#scroll-blogs .levus-scroll-nav .right::after {
  background: var(--gray);
}

.levus-scroll-nav .left::before {
  top: 9px;
  left: 6px;
  transform: rotate(-40deg);
}

.levus-scroll-nav .left::after {
  top: 18px;
  left: 6px;
  transform: rotate(40deg);
}

.levus-scroll-nav .right::before {
  top: 18px;
  left: 6px;
  transform: rotate(-40deg);
}

.levus-scroll-nav .right::after {
  top: 9px;
  left: 6px;
  transform: rotate(40deg);
}

.levus-scroll {
  position: relative;
  overflow: hidden;
  height: 300px;
  z-index: 1;
}

@media(max-width: 776px) {
  .levus-scroll {
    height: 340px;
  }
}

/* elements */
.scroll-item {
  padding: 0 10px;
  background: var(--gray);

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  -webkit-transition: all .5s;
  transition: all .5s;
}

/* прозоий фон у блогів */
#scroll-blogs .scroll-item {
  background: var(--white);
  padding: 10px 15px;
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-template-rows: min-content;
  grid-template-areas:
    'scroll-item-autor scroll-item-name'
    'scroll-item-autor scroll-item-heading';
}

.scroll-item .autor {
  grid-area: scroll-item-autor;
}

.scroll-item .autor img{
  border-radius: 50%;
  width: 100px!important;
}

.scroll-item .name,
.scroll-item .name:hover {
  grid-area: scroll-item-name;
  color: var(--red);
}

.scroll-item .heading {
  grid-area: scroll-item-heading;
  color: var(--black);
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.scroll-item .heading:hover {
  color: var(--red);
}

.scroll-item img {
  width: 100% !important;
}

.scroll-item a {
  color: var(--light);
  font-size: 14px;
  display: block;
  margin: 10px 0 0;
}

.scroll-item a:hover {
  color: var(--white);
}